.main {
  background-color: #f1e8ed;
  padding: 2.2rem 0;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 14rem;
}
.title h2 {
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
  color: #6f1c4d;
}
.title p {
  font-size: 1.6rem;
  color: #8c4971;
}
.title-icon img {
  width: 9rem;
}
.search-container {
  height: 6rem;
  background-color: #fff;
}

.flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem 9rem;
  margin: 0 14rem;
  padding-top: 5rem;
}
.flex-item {
  background-color: #fff;
  padding: 2.4rem 1.8rem;
  border-radius: 7px;
}
.flex-item img {
  width: 2.2rem;
  display: flex;
  justify-content: flex-start;
}
.flex-item h3 {
  text-align: center;
  font-size: 2.2rem;
  color: #333;
}
.flex-item p {
  text-align: center;
  font-size: 1.8rem;
  color: #555;
}
