@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/mentone");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #555;
  font-weight: 500;
  max-width: 100%;
}
@media (max-width: 970px) {
  body {
    width: 100%;
  }
}
