.section {
  background-color: #eaecf553;
  padding: 5.4rem 6rem 7.2rem;
}
.container {
  /* width: 120rem; */
  margin: auto;
  padding: 0 4.8rem;
}
.flex {
  display: flex;
  align-items: center;
  gap: 7.2rem;
  /* padding: 0 4rem; */
}
.left {
  flex-basis: 100%;
}
.right {
  flex-basis: 100%;
}
.container h2 {
  text-align: center;
  font-size: 3.4rem;
  color: #2d459d;
  margin-bottom: 7.4rem;
}
.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 7.2rem;
  margin: 2.4rem auto;
  /* width: 70%; */
}
.icon-container img {
  width: 9rem;
  margin: auto;
}
.features {
  margin-left: 3.2rem;
}
.features p {
  padding: 1.4rem 2rem;
  /* width: 40rem; */
  margin-bottom: 4.8rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  border-radius: 7px;
}
.features p:last-child {
  margin-bottom: 0;
}
.feat1 {
  background-color: #b7ebf6;
  color: #2d459d;
  transform: rotate(358deg);
}
.feat2 {
  background-color: #fdbce8;
  color: #511236;
  transform: rotate(2deg);
}
.feat3 {
  background-color: #2d459d;
  color: #fff;
  transform: rotate(355deg);
}
.feat4 {
  background-color: #f4b95f;
  color: #492c01;
}
.right p {
  font-size: 1.6rem;
}
.desc {
  margin-bottom: 2.4rem;
}
.btn {
  display: block;
  padding: 1.4rem 2.8rem;
  background-color: #2d459d;
  color: #fff;
  border-radius: 4px;
  margin: 4.4rem auto 0;
  font-size: 1.7rem;
  outline: none;
  border: none;
  transition: all 0.3s ease-out;
}
.btn:hover {
  background-color: #1f306e;
}
@media (max-width: 78em) {
  .container {
    padding: 0;
  }
  .right {
    padding: 0 3.6rem;
  }
}
@media (max-width: 64em) {
  .features {
    margin: 0;
  }
  .features p {
    /* width: 35rem; */
    font-size: 2rem;
  }
  .icon-container img {
    width: 7rem;
  }
}
@media (max-width: 58rem) {
  .section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .container h2 {
    margin-bottom: 7rem;
  }
  .flex {
    flex-direction: column;
  }
  .features p:last-child {
    margin-bottom: 4.8rem;
  }
  .right {
    padding: 0 7.2rem;
  }
  .right p {
    text-align: center;
    padding: 0;
  }
  .btn {
    display: block;
    margin: 4.4rem auto;
  }
  /* .icon-container {
    width: 50%;
  } */
  .icon-container img {
    margin: auto;
    width: 9rem;
  }
  .features {
    margin: auto;
  }
}
